#{$CountryLockdownIndicatorStrips-container} {
  $text-color: rgba(255, 255, 255, 0.75);
  /* Write your chart styles here */
  .CountryLockdownIndicatorStrips {
      .legend-container {
          margin-top: 1rem;
          display: flex;
          color: $text-color;
          .indexLegend {
              display: flex;
              flex-flow: wrap;
              width: 60%;
              @media (max-width: 768px) {
                  display: flex;
                  flex-flow: column;
              }
              @media (max-width: 576px) {
                  display: flex;
                  flex-flow: column;
                  width: 100%;
              }
              .legend-item {
                  @media (max-width: 768px) {
                      width: auto !important;
                  }
                  margin: 0.5rem 1.5rem 0.5rem 0;
                  p {
                      line-height: 1rem;
                      font-size: 0.875rem;
                      font-weight: lighter;
                  }
              }
          }
          .stepLegend {
              display: flex;
              flex-flow: column;
              .legend-item {
                span{
                  border: none;
                }
                  p {
                      line-height: 1rem;
                      font-size: 0.875rem;
                      font-weight: lighter;
                  }
              }
          }
      }
      svg {
        overflow: visible;
        line-height: 1rem;
      }
      .axis {
        path.domain {
          stroke: none;
        }
        text{
          font-family: $font-family-sans-serif;
          fill: #999;
          font-size: 0.8rem;
        }
        line{
          stroke-width: 0.7;
          stroke: #999;
        }
      }
  }
}