#{$CountryLockdownIndicatorStrips-container} {
    /* Write your chart styles here */
    .CountryLockdownIndicatorStrips {
        .legend-container {
            margin-top: 1rem;
            display: block;
            @media (min-width: 576px) {
                display: flex;
            }
            .legend-div.indexLegend {
                margin: 0.5rem 1.5rem 0.5rem 0;
                p {
                    line-height: 1rem;
                    font-size: 0.875rem;
                    font-weight: lighter;
                }
            }
        }
    }
}